
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Saira+Condensed:wght@500&family=Special+Elite&family=Wallpoet&display=swap');


.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 1px solid black;
    background-color: grey;
    padding: 0 5% 3% 5%;
    max-width: 600px;
    width: 50%;
    border-radius: 15px;
    vertical-align:middle;

}

.center2{
  margin: 8% auto 2% auto;
  display: block;

}

.title{
    font-family: 'Nabla', cursive;
    font-size: 500%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 3px;

    
}

.font1{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 20px;
}


body{
    background-color: rgba(17, 15, 15, 0.938);
}

.isec{
    width:100%;
    height: 35px;
    margin:5px 0;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}

.secmargin{
    margin: 15px 0;
}


button{
  width: 150px;
  height: 40px;
  border-radius: 3px;
/*   box-shadow: 20px; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Wallpoet', cursive;
  font-size: 20px;
  cursor: pointer;
}


.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

